.comment-box {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 80px;
    background-color: #343A40;
    border-radius: 6px;
    justify-self: center;
    margin-top: 20px;
    
    
}
.wrapper-profile-date {
    display: flex;
    background-color: #343A40;
    justify-content: space-between;
    border-radius: 6px;
}
.text-container {
    display: flex;
    background-color: #343A40
}
.text {
    background-color: #343A40;
    color: #FFFFFF;
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.profile-name {
    margin-left: 10px;
    margin-top: 5px;
    background-color: #343A40;
    font-size: 14px;
    line-height: 16px;
    
    color: #6C757D;
}
.date {
    background-color: #343A40;
    margin-right: 10px;
    margin-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #6C757D;
}

