* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #181c2c;
}

.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.navbar {
  display: flex;
  align-self: center;
  align-items: center;
  background-color: #343A40;
  width: 1076px;
  height: 58px;
  margin-bottom: 50px;
  border-radius: 6px;
}

.home {
  margin-left: 50px;
}
.home-button {
  text-decoration: none;
  background-color: #343A40;
  color: rgba(255, 255, 255, 0.5)
}

.home-button.active {
  color: #FFFFFF;
}

.profile{
  margin-left: 50px;
}
.profile-button {
  text-decoration: none;
  background-color: #343A40;
  color: rgba(255, 255, 255, 0.5)
}
.profile-button.active {
  color: #FFFFFF;
}
